apiVersion: v1
kind: Service
metadata:
  name: user-service
  namespace: default
  labels:
    app: user-service
    component: backend
spec:
  type: ClusterIP
  ports:
  - port: 9096
    targetPort: 9096
    protocol: TCP
    name: grpc
  selector:
    app: user-service
  sessionAffinity: None
