apiVersion: kustomize.config.k8s.io/v1beta1
kind: Kustomization

namespace: production

resources:
  - ../../services/hello-service
  - ../../services/todo-service
  - ../../services/shortener-service
  - ../../services/web
  - ../../services/higress

commonLabels:
  environment: production

replicas:
  - name: hello-service
    count: 3
  - name: todo-service
    count: 3
  - name: shortener-service
    count: 3
  - name: web
    count: 3

patches:
  - patch: |-
      - op: replace
        path: /spec/template/spec/containers/0/resources/requests/cpu
        value: 500m
      - op: replace
        path: /spec/template/spec/containers/0/resources/requests/memory
        value: 512Mi
      - op: replace
        path: /spec/template/spec/containers/0/resources/limits/cpu
        value: 1000m
      - op: replace
        path: /spec/template/spec/containers/0/resources/limits/memory
        value: 1Gi
    target:
      kind: Deployment
