apiVersion: v1
kind: Service
metadata:
  name: shortener-service
  namespace: default
  labels:
    app: shortener-service
    component: backend
spec:
  type: ClusterIP
  ports:
  - port: 9092
    targetPort: 9092
    protocol: TCP
    name: grpc
  - port: 8080
    targetPort: 8080
    protocol: TCP
    name: http
  - port: 9090
    targetPort: 9090
    protocol: TCP
    name: metrics
  selector:
    app: shortener-service
  sessionAffinity: None

