apiVersion: v1
kind: Service
metadata:
  name: shortener-service
  namespace: default
  labels:
    app: shortener-service
    component: backend
spec:
  type: ClusterIP
  ports:
  - port: 9092
    targetPort: 9092
    protocol: TCP
    name: grpc
  selector:
    app: shortener-service
  sessionAffinity: None
