apiVersion: v1
kind: Service
metadata:
  name: auth-service
  namespace: default
  labels:
    app: auth-service
spec:
  type: ClusterIP
  ports:
  - port: 9095
    targetPort: 9095
    protocol: TCP
    name: grpc
  selector:
    app: auth-service
