apiVersion: v1
kind: Service
metadata:
  name: web
  labels:
    app: web
    component: frontend
    system: monorepo
spec:
  type: ClusterIP
  ports:
  - name: http
    port: 80
    targetPort: http
    protocol: TCP
  selector:
    app: web
