apiVersion: v1
kind: Service
metadata:
  name: todo-service
  namespace: default
  labels:
    app: todo-service
spec:
  type: ClusterIP
  ports:
  - port: 9091
    targetPort: 9091
    protocol: TCP
    name: grpc
  selector:
    app: todo-service
